[submodule "themes/blist"]
	path = themes/blist
	url = git@github.com:nmin11/blist-hugo-theme.git
	branch = blog
	ignore = dirty
[submodule "public"]
	path = public
	url = https://github.com/nmin11/nmin11.github.io.git
	ignore = all
